@page "/"
@inject NavigationManager NavigationManager

<PageTitle>McKnight's American Football - Home</PageTitle>

<div class="public-home">
    <div class="hero-image">
        <img src="images/football-field.jpg" alt="Football Field" />
        <div class="hero-text">
            <h1>McKNIGHT'S AMERICAN FOOTBALL</h1>
            <p>American high school football rankings, ratings and more</p>
        </div>
    </div>

    <nav class="main-nav">
        <ul>
            <li><a href="/Public/All_Time/AllTimeTeamRating">Greatest High School Football Teams of All-Time</a></li>
            <li><a href="/Public/All_Time/AllTimePrograms_TwentyFive">Greatest High School Programs of All-Time (25 or more seasons)</a></li>
            <li><a href="/Public/All_Time/AllTimePrograms_Fifty">Greatest High School Programs of All-Time (50 or more seasons)</a></li>
            <li><a href="/Public/All_Time/AllTimePrograms_OneHundred">Greatest High School Programs of All-Time (100 or more seasons)</a></li>
            <li><a href="/national-champions">Ratings of Media National Champions</a></li>
            <li><a href="/Public/States/RatingsByState">Ratings by State</a></li>
            <li><a href="/Public/Decades/RatingsByDecade">Ratings by Decade</a></li>
            <li><a href="/links">Links</a></li>
        </ul>
    </nav>
</div>

